* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#track {
  position: relative;
  height: 100%;
  width: 100%;
  /* padding-top: 100px; */
}

.path {
  position: absolute;
  z-index: 2;
}

section {
  height: 100vh;
  /* border: 1px solid black; */
  position: relative;
}

.section-1 {
  background: rgb(255, 255, 255);
  /* background: linear-gradient(
    128deg,
    var(--gradient-1) 30%,
    var(--gradient-2) 50%,
    var(--gradient-3) 71%,
    var(--gradient-4) 87%,
    var(--gradient-5) 100%
  ); */
}

.section-2 {
  background: rgb(0, 119, 255);
}

.section-5 {
  height: 300vh;
}

.section-7 {
  height: 300vh;
}

.section-8 {
  height: 300vh;
}

.section-9 {
  background-color: #3a3d42;
  height: 300vh;
}

.section-10 {
  height: 400vh;
  background-color: #e08941;
}

.section-11 {
  height: 300vh;
  background-color: #a74c4c;
}

/* .section-12 {
    height: 100vh;
    background-color: #d5d7fd
  } */

/* .section-13 {
    height: 600vh;
  } */

#animated-element {
  position: absolute;
  /* height: 150px; */
  width: fit-content;
  right: 0;
  opacity: 0;
  z-index: 2;
}

#cloud {
  position: relative;
  height: 150px;
  z-index: 10;
}

#thunder1 {
  position: absolute;
  bottom: 30px;
  left: 10%;
  z-index: 3;
  height: 100px;
  opacity: 0; /* Set initial opacity to 0 */
  transform: rotate(20deg);
}

#thunder2 {
  position: absolute;
  bottom: 30px;
  left: 40%;
  z-index: 3;
  height: 100px;
  opacity: 0; /* Set initial opacity to 0 */
  /* transform: rotate(20deg); */
}

#thunder3 {
  position: absolute;
  bottom: 10px;
  left: 70%;
  z-index: 3;
  height: 100px;
  opacity: 0; /* Set initial opacity to 0 */
  transform: rotate(-30deg);
}

.thunder-animation1 {
  animation: animateThunder1 0.17s infinite; /* Adjust animation duration as needed */
}

.thunder-animation2 {
  animation: animateThunder2 0.25s infinite; /* Adjust animation duration as needed */
}

.thunder-animation3 {
  animation: animateThunder3 0.2s infinite; /* Adjust animation duration as needed */
}

.thunder-animation2-shake {
  animation: animateThunder2shake 0.25s infinite;
}

.logoAnimation {
  animation: smash 0.3s;
}

@keyframes animateThunder1 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  20% {
    opacity: 0.6;
    bottom: -30px;
  }
  40% {
    opacity: 1;
    bottom: -50px;
  }
  60% {
    opacity: 0.6;
    bottom: -60px;
  }
  80% {
    opacity: 0.2;
    bottom: -70px;
  }
  100% {
    opacity: 0;
    bottom: -80px;
  }
}

@keyframes animateThunder2 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  20% {
    opacity: 0.2;
    bottom: -30px;
  }
  40% {
    opacity: 1;
    bottom: -50px;
  }
  60% {
    opacity: 0.6;
    bottom: -60px;
  }
  80% {
    opacity: 0.2;
    bottom: -70px;
  }
  100% {
    opacity: 0;
    bottom: 48%;
  }
}

@keyframes animateThunder2shake {
  0% {
    opacity: 0;
    left: 45%;
    bottom: 0;
  }
  20% {
    opacity: 0.2;
    left: 35%;
  }
  40% {
    opacity: 1;
    left: 45%;
  }
  60% {
    opacity: 0.6;
    left: 35%;
  }
  80% {
    opacity: 0.2;
    left: 45%;
  }
  100% {
    opacity: 0;
    left: 35%;
  }
}

@keyframes animateThunder3 {
  0% {
    opacity: 0;
    bottom: 0;
  }
  20% {
    opacity: 0.6;
    bottom: -30px;
  }
  40% {
    opacity: 1;
    bottom: -50px;
  }
  60% {
    opacity: 0.6;
    bottom: -60px;
  }
  80% {
    opacity: 0.2;
    bottom: -70px;
  }
  100% {
    opacity: 0;
    bottom: -80px;
  }
}

@keyframes smash {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1.2);
  }

  30% {
    transform: scale(1.4);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1.35);
  }

  90% {
    transform: scale(1.34);
  }

  100% {
    transform: scale(1.33);
  }
}

@media screen and (max-width: 800px) {
  #cloud {
    height: 50px;
  }

  #thunder1 {
    height: 40px;
  }

  #thunder2 {
    height: 40px;
  }

  #thunder3 {
    height: 40px;
  }
}

/* scroll down animation */

.mouse-container {
  width: 100vw;
  height: 100%;
  /* background-color: #c9d6df; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.card {
  color: #224;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.274),
    16%,
    rgba(255, 255, 255, 0.692),
    70%,
    rgb(255 255 255 / 22%)
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.gradient-bg {
  background: rgb(162, 80, 245);
  background: linear-gradient(
    317deg,
    rgba(162, 80, 245, 0.6474964985994398) 0%,
    rgba(255, 255, 255, 0.5102415966386555) 74%,
    rgba(255, 255, 255, 0.3757878151260504) 97%
  );
}

.gradient-text {
  background: rgb(122, 32, 212);
  background: linear-gradient(
    90deg,
    rgba(122, 32, 212, 1) 0%,
    rgba(167, 84, 214, 1) 10%,
    rgba(235, 33, 196, 1) 26%,
    rgba(213, 65, 164, 1) 45%,
    rgba(249, 110, 110, 1) 64%,
    rgba(232, 71, 71, 1) 76%,
    rgba(244, 163, 0, 1) 97%
  );
}

/* section2  svg*/
.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top2 .shape-fill {
  fill: rgb(0, 119, 255);
}
