* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  #track {
    position: relative;
    height: 100%;
    width: 100%;
    /* padding-top: 100px; */
  }
  
  .path {
    position: absolute;
    z-index: 2;
  }
  
  section {
    height: 100vh;
    /* border: 1px solid black; */
    position: relative;
  }
  
  .section-5 {
    height:300vh;
  }
  
  .section-9 {
    height:300vh;
  }
  
  #animated-element {
    position: absolute;
    /* height: 150px; */
    width: fit-content; 
    right:0;
    opacity: 0;
    z-index: 2;
  }
  
  #cloud {
    position: relative;
    height: 150px;
    z-index: 10;
  }
  
  /* .cloud-absolute {
    position: absolute;
    top:0;
    left:0;
  }
  
  .cloud-fixed {
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  } */
  
  #thunder1 {
    position: absolute;
    bottom:30px;
    left:10%;
    z-index: 3;
    height: 100px;
    opacity: 0; /* Set initial opacity to 0 */
    transform: rotate(20deg);
  }
  
  #thunder2 {
    position: absolute;
    bottom:30px;
    left:40%;
    z-index: 3;
    height: 100px;
    opacity: 0; /* Set initial opacity to 0 */
    /* transform: rotate(20deg); */
  }
  
  #thunder3 {
    position: absolute;
    bottom:10px;
    left: 70%;
    z-index: 3;
    height: 100px;;
    opacity: 0; /* Set initial opacity to 0 */
    transform: rotate(-30deg);
  }
  
  .thunder-animation1 {
    animation: animateThunder1 0.17s infinite; /* Adjust animation duration as needed */
  }
  
  .thunder-animation2 {
    animation: animateThunder2 0.25s infinite; /* Adjust animation duration as needed */
  }
  
  .thunder-animation3 {
    animation: animateThunder3 0.2s infinite; /* Adjust animation duration as needed */
  }
  
  
  @keyframes animateThunder1 {
    0% {
      opacity: 0;
      bottom:0
    }
    20% {
      opacity: 0.6;
      bottom:-30px
    }
    40% {
      opacity: 1;
      bottom:-50px
    }
    60% {
      opacity: 0.6;
      bottom:-60px;
    }
    80% {
      opacity: 0.2;
      bottom: -70px
    }
    100% {
      opacity: 0;
      bottom: -80px;
    }
  }
  
  @keyframes animateThunder2 {
    0% {
      opacity: 0;
      bottom:0
    }
    20% {
      opacity: 0.6;
      bottom:-30px
    }
    40% {
      opacity: 1;
      bottom:-50px
    }
    60% {
      opacity: 0.6;
      bottom:-60px;
    }
    80% {
      opacity: 0.2;
      bottom: -70px
    }
    100% {
      opacity: 0;
      bottom: -80px;
    }
  }
  
  @keyframes animateThunder3 {
    0% {
      opacity: 0;
      bottom:0
    }
    20% {
      opacity: 0.6;
      bottom:-30px
    }
    40% {
      opacity: 1;
      bottom:-50px
    }
    60% {
      opacity: 0.6;
      bottom:-60px;
    }
    80% {
      opacity: 0.2;
      bottom: -70px
    }
    100% {
      opacity: 0;
      bottom: -80px;
    }
  }
  
  @media screen and (max-width: 800px) {
    #cloud {
      height: 50px;
    }
  
    #thunder1{
      height:40px
    }
  
    #thunder2{
      height:40px
    }
  
    #thunder3{
      height:40px
    }
  }
  
  .glow-animation {
    /* animation: glowBloom 1s infinite; */
    box-shadow: 0 0 5px 2px #e3ff48;
    transition: 0.4s ease;
  }
  
  
  

  /* scroll down animation */

  .container {
    width: 100%;
    height: 100%;
    /* background-color: #c9d6df; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }
  
  .mouse {
    width: 50px;
    height: 90px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;
  }
  .mouse::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }