* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#track {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.path {
  position: absolute;
  z-index: 2;
}

section {
  height: 100vh;
  border: 1px solid black;
  position: relative;
}

.section-5 {
  height:300vh;
}

#animated-element {
  position: absolute;
  /* height: 150px; */
  width: fit-content; 
  right:0;
  opacity: 0;
  z-index: 2;
}

#cloud {
  position: relative;
  height: 150px;
  z-index: 10;
}

/* .cloud-absolute {
  position: absolute;
  top:0;
  left:0;
}

.cloud-fixed {
  position: fixed;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
} */

#thunder1 {
  position: absolute;
  bottom:30px;
  left:10%;
  z-index: 3;
  height: 100px;
  animation-duration: 0.4s;
  opacity: 0; /* Set initial opacity to 0 */
  transform: rotate(20deg);
}

#thunder2 {
  position: absolute;
  bottom:-20px;
  left:40%;
  z-index: 3;
  height: 100px;
  animation-duration: 0.5s;
  /* transition: 0.1s; */
  opacity: 0; /* Set initial opacity to 0 */
}

#thunder3 {
  position: absolute;
  bottom:10px;
  left: 70%;
  z-index: 3;
  height: 100px;
  animation-duration: 0.3s;
  opacity: 0; /* Set initial opacity to 0 */
  transform: rotate(-30deg);
}

.thunder-animation {
  animation: animateThunder 0.3s infinite; /* Adjust animation duration as needed */
}

@keyframes animateThunder {
  0% {
    opacity: 0;
    bottom:-35px
  }
  20% {
    opacity: 0.6;
    bottom:-40px
  }
  40% {
    opacity: 1;
    bottom:-50px
  }
  60% {
    opacity: 0.6;
    bottom:-70px;
  }
  80% {
    opacity: 0.2;
    bottom: -80px
  }
  100% {
    opacity: 0;
    bottom: -100px;
  }
}

@media screen and (max-width: 800px) {
  #cloud {
    height: 50px;
  }

  #thunder1{
    height:40px
  }

  #thunder2{
    height:40px
  }

  #thunder3{
    height:40px
  }
}

footer {
  height: 200px;
}