* {
  box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw; 
  }
  
  #track { 
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 100px;
  }

  .path {
    position: absolute;
    z-index: 2;
  }

  section {
    height:100vh;
    border: 1px solid black;
    position: relative;
  }
/* 
  .section-1 {
    background: blue;
  }
  
  .section-2 {
    background: green;
  }
  .section-3 {
    background: rgb(0, 225, 255);
  }
  .section-4 {
    background: yellow;
  }
   */
  
   #cloud{
    position: absolute;
    /* width: 100px; */
    /* top:100px; */
    height: 100px;
    z-index: 3;

  }

  @media screen and (max-width: 800px) {
      #cloud {
        height: 50px;
      }
  }
  
  footer {
    height: 200px;
  }