:root {
  --gradient-1: #093d57;
  --gradient-2: #0f0521;
  --gradient-3: #010106;
}

.gradientBg {
  background: linear-gradient(
    128deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 67%,
    var(--gradient-3) 99%
  );
}

.cloud-container {
  width: 100%;
  height: 400vh;
  overflow: hidden;
}

.cloud {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
}
