@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --gradient-1: rgba(255, 255, 255, 1);
    --gradient-2: rgb(228, 160, 241);
    --gradient-3: rgb(221, 128, 240);
    --gradient-4: rgb(221, 163, 255);
    --gradient-5: rgb(248, 195, 255);
  }
  